@import 'open-color/open-color.scss';

body, header, h1, h2, h3, h4, h5, h6, div, main, p, button, a, li, ul, ol, div, nav, table, td, th, tbody, thead {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table, td, th, tbody, thead {
  border: 0;
  outline: 0;
  border-spacing: 0;
}
*::-webkit-scrollbar {
  width: 1px;
}
p {
  word-break: break-all;
}
header, h1, h2, h3, h4, h5, h6, main {
  word-break: break-word;
}

$wide-screen: "(min-width: 1025px)";
$middle-screen: "(min-width: 701px) and (max-width: 1024px)";
$small-screen: "(max-width: 700px)";

@mixin getFontSize($basic) {
  font-size: $basic;
  @media #{$wide-screen} {
    font-size: $basic;
  }
  @media #{$middle-screen} {
    font-size: $basic/1.2;
  }
  @media #{$small-screen} {
    font-size: $basic/1.5;
  }
}

@font-face {
  font-family: "HannaPro";
  font-style: normal;
  src: url('../utils/font/BMHANNAPro.eot');
  src: url('../utils/font/BMHANNAPro.eot?#iefix') format('embedded-opentype'),
  url('../utils/font/BMHANNAPro.woff') format('woff'),
  url('../utils/font/BMHANNAPro.ttf') format('truetype');
  src: local(※), url('../utils/font/BMHANNAPro.woff') format('woff');
}