@import 'open-color/open-color.scss';

$primary-color: #F46569;
$secondary-color: #BEE5FB;
$header-font: 'Dancing Script', sans-serif;
$korean-font: 'HannaPro', sans-serif;
$digit-font: 'Space Mono', sans-serif;
$bigfont-size: 2rem;
$container-width: 60%;

%item-hover {
  background: $primary-color;
  color: $secondary-color;
  transition-property: background, color;
  transition-duration: 0.3s; 
  transition-timing-function: ease-in;
}

body, header, h1, h2, h3, h4, h5, h6, div, main, p, button, a, li, ul, ol, div, nav, table, td, th, tbody, thead, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-color;
  font-family: $korean-font;
}
button:focus {
  outline: none;
}
body {
  background: $secondary-color;
}
*::-webkit-scrollbar {
  width: 1px;
}
p {
  word-break: break-all;
}
header, h1, h2, h3, h4, h5, h6, main {
  word-break: break-word;
}

$wide-screen: "(min-width: 1025px)";
$middle-screen: "(min-width: 701px) and (max-width: 1024px)";
$small-screen: "(max-width: 700px)";

@mixin getFontSize($basic) {
  font-size: $basic;
  @media #{$wide-screen} {
    font-size: $basic;
  }
  @media #{$middle-screen} {
    font-size: $basic/1.2;
  }
  @media #{$small-screen} {
    font-size: $basic/1.5;
  }
}

@mixin reponsiveScreen() {
  width: 60%;
  @media #{$wide-screen} {
    width: 60%;
  }
  @media #{$middle-screen} {
    width: 60%;
  }
  @media #{$small-screen} {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@font-face {
  font-family: "HannaPro";
  font-style: normal;
  src: url('../utils/font/BMHANNAPro.eot');
  src: url('../utils/font/BMHANNAPro.eot?#iefix') format('embedded-opentype'),
  url('../utils/font/BMHANNAPro.woff') format('woff'),
  url('../utils/font/BMHANNAPro.ttf') format('truetype');
  src: local(※), url('../utils/font/BMHANNAPro.woff') format('woff');
}