@import 'styles/utils';

.template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  #image-window {
    height: 100vh;
  }
  .content-container {
    width: 100%;
    background: $secondary-color;
  }
}

.hide {
  display: none;
}