@import 'styles/utils.scss';

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10rem 0;
  @include reponsiveScreen();
  .history-mention {
    text-align: center;
    @include getFontSize($bigfont-size);
  }
  .history-logout-mention {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
  .brickcontainer {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    .brick-item-common {
      position: absolute;
      padding: 1rem;
      padding-bottom: 0;
      .example-message {
        margin-bottom: 1rem;
      }
      .brick-wrapper {
        display: flex;
        flex-direction: column;  
        background: $primary-color;
        border: 1px solid $primary-color;
        @include getItemPadding(1rem, 1rem);
        padding-bottom: 0;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        .history-item-header {
          font-family: 'Space Mono', sans-serif;
          @include getFontSize(1rem);
          text-align: center;
          color: $secondary-color;
          margin-bottom: 1rem;
        }
        .history-item-container {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: $secondary-color;
          border: 1px solid $primary-color;
          @include getItemPadding(0.5rem, 1rem);
          margin-bottom: 1rem;
          cursor: pointer;
          @include getFontSize(1rem);
          &:active {
            background: $oc-orange-1;
          }
          .history-item-subject {
          }
          .history-item-time {
            font-family: 'Space Mono', sans-serif;
          }
          .history-item-delete {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            @media #{$small-screen} {
              right: 0;
            }
          }
        }
      }
    }
    .brick-item-1 {
      width: 25%;
    }
    .brick-item-2 {
      width: 50%;
    }
  }
}