@import 'styles/utils.scss';

.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  @include reponsiveScreen();
  .watch-mention {
    margin-bottom: 3rem;
    @include getFontSize($bigfont-size);
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .watch-info {
      .watch-date {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: 'Space Mono';
        .date-container {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0);
          .datepicker {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0);
            color: rgba(0,0,0,0);
            border: none;
            outline: none;
            cursor: pointer;
          }

        }
      }
      .watch-subject {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
    .watch-time {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;
      .watch-time-string {
        display: inline-block;
        font-family: 'Space Mono', monospace;
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .watch-control {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 4rem;
        height: 4rem;
        border: none;
        outline: none;
        background: $primary-color;
        color: $secondary-color;
        border-radius: 50%;
        font-family: 'Space Mono';
        cursor: pointer;
      }
      .second-item {
        margin-left: 3rem;
      }
      #watch-on-stop {
        display: flex;
        justify-content: center;
      }
      #watch-on-progress {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}